/*Импорт шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

/* Цвет страницы */
html, body {
  margin: 0;
  padding: 0;
  background: #000;
  min-height: 100vh;
}

header h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin-top: 50px;
}
/*Вигляд на мобыльному*/
.phone {
    width: 435px;
    height: 1020px;
    position: relative;
    margin: 0 auto;
    background: rgb(0, 0, 0);
    border: 3px solid #ffffff14;
    border-radius: 15px;
    overflow: hidden;
}
.linii {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    background: url(img/linii.svg) no-repeat center;
    background-size: 1050px;
    pointer-events: none;
    z-index: 1;
}
.logo {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 40px;
    height: auto;
    opacity: 0.2;
    z-index: 7;
}
/*Текста*/
/*Текста*/
/*ТЕКСТ: TAPSTORE*/
.tapstore {

    position: absolute;
    width: 350px;
    height: 32px;
    left: 40px;
    top: 15px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22.9px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.15em;
    z-index: 6;
    
    color: #ffffff;

    text-shadow: 
    0px 0px 20px #FFFFFF,
    0px 0px 30px #FFFFFF,
    0px 0px 40px #FFFFFF;
}
/*Текст: создай свой*/
.main-text {
    position: absolute;
    width: 310px;
    height: 55px;
    left: 60px;
    top: 10px;

    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.linkinbio {
    /* link in bio */

    position: absolute;
    width: 130px;
    height: 28px;
    left: 70px;
    top: 90px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 19.5px;
    line-height: 30px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 0px 20px #FFFFFF;
}
.and {
    /* или */

    position: absolute;
    width: 44px;
    height: 30px;
    left: 205px;
    top: 88px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    text-transform: lowercase;

    color: #FFFFFF;
}
.TAPLINK {
    /* taplink */

    position: absolute;
    width: 95px;
    height: 28px;
    left: 265px;
    top: 90px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 0px 35px #FFFFFF;
}
.textid1{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 620px;
    left: 65px;
    width: 300px;
    height: 50px; 
    color: #FFFFFF;
}
.textid2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 90;
    position: relative;
    top: 660px;
    left: 65px;
    width: 300px;
    height: 20px;
    color: #FFFFFF;
    text-shadow: 
    0px 0px 20px rgb(0, 0, 0),
    0px 0px 30px rgb(0, 0, 0),
    0px 0px 40px rgb(0, 0, 0),
    0px 0px 50px rgb(0, 0, 0),
    0px 0px 60px rgb(0, 0, 0),
    0px 0px 70px rgb(0, 0, 0),
    0px 0px 80px rgb(0, 0, 0);
}
/*Текста*/
/*Текста*/
.btn-box {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content:  center;
    align-items: center;
    width: 55px;
    height: 25px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.062);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.textnavigation {
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    font-size: 32px;
    position: relative;
    top: 160px;
    left: 120px;
    letter-spacing: 0.5m;
    color: #FFFFFF;
}
.avtor{
    font-family: 'Montserrat', sans-serif;
    opacity: 0.6;
    font-weight: 100;
    font-size: 10px;
    position: relative;
    top: 820px;
    left: 125px;
    height: 50px;
    width: 300px;
    letter-spacing: 0.5m;
    color: #FFFFFF;
}
.lead {
    /* Кнопка Головна */
/*бокс текста*/
position: absolute;
width: 175px;
height: 43px;
left: 95px;
top: 240px;
background-color: #d9d9d9d2;
border-radius: 39px;
/*шрифт*/
font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 18px;
/* identical to box height */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.about {
/*Про нас*/

/*бокс текста*/
position: absolute;
width: 140px;
height: 34px;
left: 110px;
top: 400px;
background-color: #d9d9d9d2;
border-radius: 39px;
/*шрифт*/
font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 18px;
/* identical to box height */
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
}
.price {
/*Бокс цiни*/
position: absolute;
width: 110px;
height: 28px;
left: 125px;
top: 550px;
background: #d9d9d9d2;
border-radius: 39px;
/* Текст цiни */
font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 18px;
/* identical to box height */
text-align: center;
letter-spacing: 0.10m;
text-transform: uppercase;

color: #000000;

}
/*свечения*/
.glow {
    position: absolute;
    width: 200px;
    height: 200px;   

    background: radial-gradient(rgb(255, 0, 0) 10%,
    rgb(255, 0, 0) 60%
    );

    filter: blur(25px);
    pointer-events: none;
    z-index: 5;

    top: 50px;
    left: 45px;

}
/*Плоски навигации*/
.nav_linii1 {
    /* Line 1 */

position: absolute;
width: 55px;
height: 0px;
left: 195px;
top: 240px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);
}
.nav_linii2 {
/*Line 2*/
position: absolute;
width: 80px;
height: 0px;
left: 183px;
top: 382px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);
}
.nav_linii3 {
position: absolute;
width: 90px;
height: 0px;
left: 178px;
top: 530px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);
}
.nav_linii4 {
position: absolute;
width: 300px;
height: 0px;
left: 65px;
top: 650px;
text-shadow: 0px 0px 20px #FFFFFF,
0px 0px 20px #FFFFFF,
0px 0px 20px #FFFFFF;

border: 1px solid #FFFFFF;
transform: rotate(0deg);
}