@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

/* Скидання */
body {
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 650px;
    font-family: 'Poppins', sans-serif;
}

/* Мобільна рамка */
.phone {
    width: 390px;
    height: 700px;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
}

/* Размытый фон */
.phone::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("background_blur_base.png") no-repeat center / cover;
    filter: blur(14px);
    transform: scale(1.25);
    z-index: 0;
}
/* Контент сверху */
.container {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding-top: 20px;
}

/* Назва */
.title {
    background: rgba(255, 255, 255, 0.15);
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 25px;
    border-radius: 12px;
    display: inline-block;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

/* Аватар */
.avatar img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    box-shadow: white 0 0 25px,
                white 0 0 45px;
    margin: 0 auto 20px;
}

/* Текст */
.main-text {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0 5px;
}
.sub-text {
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 25px;
}

/* Кнопки */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 10px;
}

/* Стиль кнопок */
.btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 12px 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 14px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease;
}

.btn img {
    width: 26px;
    height: 26px;
}

/* Telegram */
.telegram {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 12px 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 14px;
    color: rgb(0, 123, 255);
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.074);
    border: 2px solid transparent;
    border-color: rgb(0, 255, 255);
    transition: 0.3s ease;
}

/* Instagram */
.instagram {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 12px 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 14px;
    color: rgb(255, 0, 221);
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.074);
    border: 2px solid transparent;
    border-color: rgb(255, 0, 225);
    transition: 0.3s ease;
}

/* Hover */
.btn:hover {
    background: rgba(255,255,255,0.25);
    transform: scale(1.03);
}
/* Нижній текст */
.downtext {
    font-family: 'Poppins', sans-serif;
    font-weight: 100; /* или 300/normal */
    font-size: 10px;
    opacity: 0.6;
    bottom: -120px;
    position: relative;}
.tl {
    font-family: 'poppins', sans-serif;
    font-weight: 100;
    font-size: 10px;
    color: white;
    position: relative;
    bottom: -58px;
    text-decoration: none;
    text-shadow:
     0 0 5px whitesmoke,
     0 0 10px whitesmoke,
     0 0 20px whitesmoke,
     0 0 40px whitesmoke,
     0 0 80px whitesmoke;
}